salesforce/target/classes/salesforce.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8083" doc:name="HTTP Listener Configuration"/>
	<sfdc:cached-basic-config name="Salesforce__Basic_Authentication" username="Shubhampaw@cybage.com" password="Shubh@m@1234" securityToken="S93P0C9WHJZ47HnbDHFJ4Wnu" doc:name="Salesforce: Basic Authentication"/>
	<flow name="salesforceFlow">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/Salesforce" doc:name="HTTP"/>
		<sfdc:query config-ref="Salesforce__Basic_Authentication" query="dsql:SELECT Name FROM Account" doc:name="Salesforce"/>
		<dw:transform-message doc:name="Transform Message">
			<dw:set-payload><![CDATA[%dw 1.0
%output application/json
---

payload]]></dw:set-payload>
		</dw:transform-message>
		<file:outbound-endpoint path="src/test/resources/output" responseTimeout="10000" doc:name="File"/>
		<logger message="#[payload]" level="INFO" doc:name="Logger"/>
	</flow>
</mule>
